body {
    margin: 0px 75px 0px 75px;
}

header {
    display: flex;
    flex-direction: column;
    padding: 0 130px 40px 130px;
    background-color: #1F2937;
}


h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    font-family: Roboto, sans-serif;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-family: Roboto, sans-serif;
}

.logoimageandtext {
    display: flex;
    gap: 10px;
    font-family: Roboto, sans-serif;
}

.logoimage {
    width: 100px;
    height: auto;
}

.logotext {
    font-size: 24px;
    color: #F9FAF8;
}

.mainavgeekpics {
    width: 300px;
}

.topline {
    display: flex;
    justify-content: space-between;
    padding: 15px 0px 20px 0px;
}

.mainheadercontent {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 100px;
    align-items: center;
}

.headerlinks {
    display: flex;
    gap: 20px;
}

.headerlefthandside {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: #E5E7EB;
    font-family: Roboto, sans-serif;    
}

.headerrighthandside {
    display: flex;
    align-items: center;
}