* {
    font-family: Roboto, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0px 75px 0px 75px;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    padding: 0 130px 40px 130px;
    background-color: #1F2937;
}

h1 {
    font-size: 48px;
    font-weight: 800;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 36px;
    font-weight: 700;
}

h1, .logotext, .footertext {
    color: #F9FAF8;
}

a, .headerlefthandside {
    color: #E5E7EB;
}

.logoimageandtext {
    display: flex;
    gap: 10px;
    flex: 1;
}

.headerlinks {
    display: flex;
    gap: 20px;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}

.topline {
    display: flex;
    padding: 15px 0px 20px 0px;
    flex-wrap: wrap;
}

.logoimage {
    display: flex;
    max-width: 50px;
}

.logotext {
    display: flex;
    font-size: 24px;
    align-items: center;
}

.mainheadercontent {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 90px;
    flex-wrap: wrap;
}

.tapa330 {
    width: 100%; /*image automatically scales as the size of its container is resized*/
}

.headerlefthandside {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    flex: 1;
}

.tapimage {
    display: flex;
    flex: 1;
    min-width: 50%;
}

.signupbutton1 {
    width: 100px;
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    border: none;
}

.signup-right .signupbutton1 { /*Descendant Combinator - select 'signupbutton1' ONLY if a descendant of '.signupright'*/
    border-style: solid;
    border-width: 1px;
    border-color: white;
}

#h1removemargin {
    margin-bottom: 20px;
}

#h4removemargin {
    margin-top: 0px;
    margin-bottom: 0px;
}

#premovemargin {
    margin-top: 0px;
}

.mainbody {
    display: flex;
    flex-direction: column;
    margin: 15px 0px 40px 0px;
}

.theheader {
    display: flex;
    justify-content: center;
}

.theimages {
    display: flex;
    gap: 15px;
    margin: 0px 220px 0px 220px;
    justify-content: center;
    text-align: center; 
}

.mainavgeekpics {
    display: flex;
    width: 100%; /*images scale with the size of their container*/
    border-radius: 15px;
    min-width: 100px;
}

.secondbody {
    display: flex;
    flex-direction: column;
    padding: 100px 220px 100px 220px;
    background-color: #E5E7EB;
    gap: 20px;
}

.quotetext {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 300;
}

.quotee {
    display: flex;
    justify-content: flex-end;
    font-weight: 700;
}

.signup-container {
    display: flex;
    align-items: center;
    margin: 40px 250px 0px 250px;
    background-color: #3882F6;
    color: white;
    padding: 25px 50px 25px 50px;
    justify-content: space-between;
    gap: 20px;
    min-width: 45%;
}

.signup-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.signup-right {
    display: flex;
}

.footerend {
    display: flex;
    background-color: #1F2937;
    margin-top: 40px;
    padding: 20px;
    justify-content: center;
    min-width: 100%;
}
